<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.png" alt="thapa" title="rijviahmed" class="img-fluid">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Rijvi Ahmed World</p>
                        <h1>I am a <span class="txt_clr">Node JS Developer</span>, Software Engineer</h1>
                        <a href="https://github.com/Rijvi-Ahmed" target="_thapa"><button>About Me</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- footer -->

    <footer>
        <p>
            created with ❤ by Rijvi Ahmed
        </p>
    </footer>
</body>

</html>