<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="container-fluid  main_content">

                    <form class="temp_form ">

                        <input type="text" id="cityName" placeholder="Enter you city name.." autocomplete="off">
                        <br>
                        <input type="submit" value="search" id="submitBtn">
                        <p id="temp_err"></p>
                    </form>

                    <div class="tempInformation  ">
                        <div class="top_layer">
                            <p id="date">sun</p>
                            <p id="today_date">13 oct</p>
                        </div>
                        <div class="main_layer ">
                            <p id="city_name">Get output here </p>
                            <div class="middle_layer data_hide">
                                <p id="temp"><span id="temp_real_val">0</span><sup>o</sup>C</p>
                                <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- footer -->

    <footer>
        <p>
            created with ❤ by Rijvi Ahmed
        </p>
    </footer>

    <script src="js/main.js"></script>
    <script>
        {{!-- doument nibo through id --}}
        const curDay = document.getElementById("date");
        const curDate = document.getElementById("today_date")

        const getCurrentDay = () => {
            let weekday = new Array(7);
            weekday[0] = "Sunday";
            weekday[1] = "Monday";
            weekday[2] = "Tuesday";
            weekday[3] = "wednesday";
            weekday[4] = "Thursday";
            weekday[5] = "Friday";
            weekday[6] = "Saturday";

            let currentTime = new Date();
            let day = weekday[currentTime.getDay()];
            return day;
        };
        //getCurrentDay();
        const getCurrentTime = () => {

            var months = [
                "Jan",
                "Feb",
                "Mar",
                "Apr",
                "May",
                "Jun",
                "July",
                "Aug",
                "Sep",
                "Oct",
                "Nov",
                "Dec",
            ];

            var now = new Date();
            var month = months[now.getMonth()];
            var date = now.getDate();

            let hours = now.getHours();
            let mins = now.getMinutes();
            let period = "AM"


            if (date < 10) {
                date = '0' + date;
            }
            if (hours > 11) {
                period = "PM";
                if (hours > 12) hours -= 12;
            }
            if (mins < 10) {
                mins = '0' + mins;
            }

            return `${month} ${date} | ${hours}:${mins} ${period}`

        };
        {{!-- function call through innerHTML --}}
        curDay.innerHTML = getCurrentDay();
        curDate.innerHTML = getCurrentTime();
       // getCurrentTime();
    </script>
</body>

</html>